#sub_title{
	font-size:18px;
}

#header {
	border-bottom:2px solid #444444;
}

#SlideOutMenuDiv{
	display:none;
}

.toolTitle, div.leaflet-control-layers:nth-child(2), .toolTitle2, .leaflet-geonames-search{
	display:none
}

.leaflet-draw{
	margin-top: 45px !important;
	margin-left: 15px !important;
}


#map_and_charts_container {
	height: -moz-calc(100% - 151px);
	height: -webkit-calc(100% - 151px);
	height: calc(100% - 151px);
	border-bottom: 2px solid #C0D0E0;
	overflow-y: hidden;
	margin-bottom: 20px;
}

.info2 {
	top: 130px;
	position: fixed;
	left: 5px;
	z-index: 9999;
	color: #5083B0;
	font-weight: bold;
	font-family: Verdana;
	font-size: 16px;
	display:block !important;
}

.loading{
    display: none;
    float: right;
    position: absolute;
    right: 0px;
    width: 479px;
    height: 100%;
    z-index: 9999999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
	background-color:white;
	opacity:.8;
}

.selectedFeaturesListHeader {
	height: 25px;
	font: 16px verdana;
	letter-spacing: 1.5px !important;
	padding: 10px;
	color: white;
	font-weight: bold;
	background-color: #287EBD;
	padding-top: 15px;
	text-align: center;
	font-variant: small-caps;
	font-style: italic;
}

#climate_quick_view {
	width: 100%;
	text-align: center;
	margin-top: 0px;
}

#climate_quick_view_table {
	width: 100%;
	font-weight: normal;
	border: 0px solid #C0D0E0;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border-top: none;
}

#climate_quick_view_table th {
	font-family: "Verdana";
	height: 42px;
	font-size: .8em;
	background-color: #EDF7FF;
	border: 2px;
	color: rgb(80, 131, 176);
	font-weight: bold !important;
}

#climate_quick_view_table td {
	border: 2px solid #C0D0E0;
	color: #606060;
	/* text-align: center; */
	text-align: left;
	vertical-align: middle;
	min-height: 100px;
	height: 100px;
	padding: 9px;
	padding-top: 11px;
	/* width: 33.33%; */
	font-size: 13px;
	cursor: default;
	border-left: 0px;
}


.ui-opacity {
	right: 975px;
}

#tabs{
    display:none;
}

div.tabcontents {
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	background-color: #FFF;
	height:110%;
}

#tab_container {
	border-left: 2px solid #C0D0E0
	z-index:0;
}

#detailedView {
    width:478px;
    float:right;
    padding-top:0px;
	box-shadow: -1px -1px 40px #2D2D2D;
	border-bottom-left-radius:20px;
	background-color:white;
}

.quick_therm_tmin_small {
	color: #4575B5;
	font-size: 1.5em;
}

.quick_therm_tmax_small {
	color: #DB3F02;
	font-size: 1.5em;
}

.quick_rain_small {
	color: #4575B5;
	font-size: 1.8em;
	left:-5px;
	position:relative;
}

#dataTableDiv {
	width:460px;
}

#dynamicDataTableDiv{
	width:500px;
	top: 0;
	/*border-right: 2px solid #C0D0E0;*/
	height: 85%;
	overflow-y:auto;
	overflow-x:hidden;
}

#dynamicEEMSDataTableDiv{
    width:96%;

}

#dynamicDataTable {
	width: 100%;
	border-collapse: collapse;
	/* position: absolute; */
	width: 480px;
	overflow-y:scroll;
}


#dynamicDataTable th,td {
    cursor:pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    color: #006da9;
}


#dynamicDataTable tr:hover {
	background-color:#2C88CD !important;
	color:white !important;
}

#dynamicDataTable tr:hover td{
	color:white !important;
}

#dynamicDataTable th:first-child {
	padding-left:10px
}

#dynamicDataTable th{
    height:40px;
    font: 12px verdana;
    text-align:left;
	padding: 10px;
	padding-left:0px;
	color: rgb(80, 131, 176);
	font-weight: bold;
	border-bottom: 2px solid #C0D0E0;
	background-color: #EDF7FF;
}

.dynamicDataTableHeader{
	text-align: center !important;
	height: 50px !important;
	font-size: 16px !important;
	background-color: rgb(76, 158, 217) !important;
	color: rgb(255, 255, 255) !important;
	letter-spacing: 1.5px !important;
	font-variant: small-caps !important;
	font-style: italic !important;
	border-bottom: none !important;
}



#dynamicDataTable tr{
    border-collapse: collapse;
    border: solid black 0px !important;
}

#dynamicDataTable td{
	vertical-align:top;
    font: 12px verdana;
    border: solid black 0px !important;
}

#dynamicDataTable td:first-child {
	width:200px;
    max-width: 200px;
	min-width: 200px;
    padding-left:10px;
	white-space:normal;
}

.rowClass1{
   background-color:white;
}

.rowClass2{
  background-color:#F7F7F7;
}

tr.active td {
	background-color: #00FFFF !important;
}

