#sub_title{
	font-size:18px;
}

.header {
	border-bottom:2px solid #444444;
}

#SlideOutMenuDiv{
	display:none;
}

.toolTitle, div.leaflet-control-layers:nth-child(2), .toolTitle2, .leaflet-geonames-search{
	display:none
}

.leaflet-draw{
	margin-top: 45px !important;
	margin-left: 15px !important;
}

#map_and_charts_container {
	height: -moz-calc(100% - 151px);
	height: -webkit-calc(100% - 151px);
	height: calc(100% - 151px);
	border-bottom: 2px solid #C0D0E0;
	overflow-y: hidden;
	margin-bottom: 20px;
	overflow-x:auto;
}

/*Legend */
.info{
	font-size: 12px;
	color:#343434;
	font-family: Verdana;
}

.info2 {
	top: 130px;
	position: fixed;
	left: 5px;
	z-index: 9999;
	color: #5083B0;
	font-weight: bold;
	font-family: Verdana;
	font-size: 16px;
	display:block !important;
}

.dashboard_legend{
}

#base_data_visibility_radio {
	position: absolute;
	right: 6px;
	font-family: Verdana;
	font-size: 11px;
	font-family: arial;
	top: 2px;
}

.loading{
    display: none;
    float: right;
    position: absolute;
    right: 0px;
    width: 479px;
    height: 100%;
    z-index: 9999999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
	background-color:white;
	opacity:.8;
}

.selectedFeaturesListHeader {
	height: 25px;
	font: 16px verdana;
	letter-spacing: 1.5px !important;
	padding: 10px;
	color: white;
	font-weight: bold;
	padding-top: 15px;
	font-variant: small-caps;
	background-color: #4C9ED9;
	font-style: italic;
	text-align:center;
}

#Header1{
	text-align:left;
	padding-left: 105px;
	left: -20px;

}

#timePeriodRadioDiv {
	font-size: 11px;
	float: right;
	position: absolute;
	right: 50px;
	top: 5px;
	left: 315px;
}

.tabTable{
	width: 100%;
	font-weight: normal;
	border: 0px solid #C0D0E0;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid #C0D0E0;
}

#AboutSelectedProtectedArea {
	font-family: "Verdana";
	font-size: 1em;
	background-color: #EDF7FF;
	border-top: 2px solid #C0D0E0;
	color: rgb(80, 131, 176);
	padding: 20px;
	height:50%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf7ff+0,ffffff+100 */
    background: #edf7ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #edf7ff 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #edf7ff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #edf7ff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf7ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.flt{
	width:99%;
	height:20px;
}

#climate_quick_view {
	width: 100%;
	text-align: center;
	margin-top: 0px;
}

#climate_quick_view_table {
	width: 100%;
	font-weight: normal;
	border: 0px solid #C0D0E0;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid #C0D0E0;
}

#climate_quick_view_table th {
	font-family: "Verdana";
	height: 42px;
	font-size: .8em;
	background-color: #EDF7FF;
	border: 2px;
	color: rgb(80, 131, 176);
	font-weight: bold !important;
}

#climate_quick_view_table td {
	border: 2px solid #C0D0E0;
	color: #606060;
	/* text-align: center; */
	text-align: left;
	vertical-align: middle;
	min-height: 100px;
	height: 100px;
	padding: 9px;
	padding-top: 11px;
	/* width: 33.33%; */
	font-size: 13px;
	cursor: default;
	border-left: 0px;
}


.ui-opacity {
	right: 975px;
}

#tabs{
    /*display:none;*/
}

div.tabcontents {
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	background-color: #FFF;
	height:110%;
}

#tab_container {
	border-left: 2px solid #C0D0E0
	z-index:0;
}

#detailedView {
	position: relative;
	z-index: 2;
	width: 478px;
	float: right;
	padding-top: 0px;
	box-shadow: -1px -1px 40px #2D2D2D;
	border-bottom-left-radius: 20px;
	background-color: white;
	height: 100%;
	overflow-y: auto;
}

#clickToSort {
	position: absolute;
	color: rgb(80, 131, 176);
	font-size: 12px;
	top: 50px;
	background-color: #EDF7FF;
	padding: 5px;
	width: 154px;
	height: 20px;
	padding-right: 0px;
	z-index: 2;
	left: 290px;
	border-left: 2px solid #C0D0E0;
	border-right: 2px solid #C0D0E0;
	border-top: 2px solid #C0D0E0;
	/* padding-top: 2px; */
	line-height: 20px;
	/* padding-left: 10; */
	text-align: center;
	padding-left: 3px;
}

#clickToSortArrow {
	width: 24px;
	float: right;
	right: 6px;
	position: relative;
	top: 6px;
}

.quick_therm_tmin_small {
	color: #4575B5;
	font-size: 1.5em;
}

.quick_therm_tmax_small {
	color: #DB3F02;
	font-size: 1.5em;
}

.quick_rain_small {
	color: #4575B5;
	font-size: 1.8em;
	left:-5px;
	position:relative;
}

#dataTableDiv {
	width:460px;
}

#dynamicDataTableDiv{
	width:500px;
	top: 0;
	/*border-right: 2px solid #C0D0E0;*/
	height: 85%;
	overflow-y:auto;
	overflow-x:hidden;
}

#dynamicEEMSDataTableDiv{
    width:96%;

}

#dynamicDataTable {
	width: 100%;
	border-collapse: collapse;
	/* position: absolute; */
	width: 480px;
	overflow-y:scroll;
}

#dynamicDataTable thead {
	position: fixed;
	margin-bottom: 300px;
	max-width:480px;
	z-index:1;
}

#dynamicDataTable tbody {
	/* doesn't work in Chrome */
	top: 83px;
	z-index: 0;
	position: relative;
}

#dynamicDataTable th,td {
    cursor:pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    color: #006da9;
	vertical-align:bottom;
}

.fltrow {
	background-color: #E0E0E0;
	height: 31px;
	border-bottom: solid #C0D0E0 2px !important;
}

#dynamicDataTable tr:hover {
	background-color:#2C88CD !important;
	color:white !important;
}

#dynamicDataTable tr:hover td{
	color:white !important;
}

#dynamicDataTable th:first-child {
	padding-left:10px
}

#dynamicDataTable th {
	height: 41px;
	font: 12px verdana;
	text-align: left;
	padding: 9px;
	padding-left: 0px;
	color: rgb(80, 131, 176);
	font-weight: bold;
	border-bottom: 2px solid #C0D0E0;
	background-color: #EDF7FF;
	white-space: nowrap;
}

.dynamicDataTableHeader{
	text-align: center !important;
	height: 50px !important;
	font-size: 16px !important;
	background-color: rgb(76, 158, 217) !important;
	color: rgb(255, 255, 255) !important;
	letter-spacing: 1.5px !important;
	font-variant: small-caps !important;
	font-style: italic !important;
	border-bottom: none !important;
}


#dynamicDataTable tr{
    border-collapse: collapse;
}

#dynamicDataTable td{
	vertical-align:bottom;
    font: 12px verdana;
    border: solid black 0px !important;
	width:80px;
}

/* tbody hack
#dynamicDataTable tr:nth-child(2) td:first-child {
	height:50px;

}
*/

#dynamicDataTable td:first-child {
	width:130px;
    max-width: 130px;
	min-width: 130px;
    padding-left:10px;
	white-space:normal;
}

#dynamicDataTable td:nth-child(2) {
	width:100px;
	max-width: 100px;
	min-width: 100px;
	white-space:normal;
}

.tableHeader {
	font-family: "Verdana";
	height: 42px;
	font-size: .8em;
	background-color: #EDF7FF;
	border-top: 2px solid #C0D0E0;
	border-bottom: 2px solid #C0D0E0;
	color: rgb(80, 131, 176);
	font-weight: bold !important;
}


.rowClass1{
   background-color:white;
}

.rowClass2{
  background-color:#F2F2F2;
}

tr.active td {
	background-color: #00FFFF !important;
}

ul.tabs {
	background: RGBA(187, 187, 187, 0.45)
}

ul.tabs li.selected a, ul.tabs li.selected a:hover {
	position: relative;
	top: 0px;
	font-weight: bold;
	background: #203358;
	color: #CFBC9A;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover {
	position: relative;
	font-weight: bold;
	background: #EDF7FF;
	color: rgb(80, 131, 176) !important;
	top: 2px;
	border:none
	z-index:99;
	border-top: 2px solid #C0D0E0;
	border-left: 2px solid #C0D0E0 !important;
	border-right: 2px solid #C0D0E0 !important;
}

ul.tabs li a {
	font: normal 12px Verdana;
	text-decoration: none;
	position: relative;
	padding: 8px 20px;
	border-right: none;
	/* color: #000; */
	color: #646464 !important;
	background: #FFF;
	outline: none;
	border-left: 1px solid #C0D0E0 !important;
	border-right: 1px solid #C0D0E0 !important;
	border-bottom:none;
	border-top:none;
}

