/* Tab Content - menucool.com */
ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border:1px solid #444444;
    border-top:none;
    border-bottom:none;
    background:#BBBBBB;
    border-left:0px;
    white-space:nowrap;
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-1px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border: 1px solid #444444;
    border-right:none;
    /*color: #000;*/
    color:#4D4D4D;
    background: #FFF;
    outline:none;
}
       
ul.tabs li:last-child a
{
    border-right:1px solid #444444;
    border-top-right-radius:8px;
    box-shadow: 2px -1px 5px -1px gray;
}

ul.tabs li:first-child a
{
    border-top-left-radius:8px;
    box-shadow: -2px -1px 5px -1px gray;
}

ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    text-decoration: none;
    color:#888;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    z-index:1;
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #444444;
    /*color:White;*/
    color:#F8982E;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    border-top: 2px solid #444444;
    border-bottom: 0px;
    padding: 0px;
    background-color:#FFF;
}