<html>
<head>
<title></title>
<link rel="shortcut icon" href="{{STATIC_URL}}img/sun.ico">

<script> var static_url="{{STATIC_URL}}" </script>

<!-- Configuration File -->
<script src="{{STATIC_URL}}config/{{config_file}}"></script>

<!-- A Dictionary containing Image Overlay Name to Data Basin ID Lookup for the Data Basin link-->
<script src="{{STATIC_URL}}Leaflet/my_leaflet/data_basin_id_dictionary.js"></script>

<!-- Alertify -->
<script src="{{STATIC_URL}}deps/Alertify/alertify.js-0.3.11/src/alertify.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Alertify/alertify.js-0.3.11/themes/alertify.core.css">
<!-- include a theme, can be included into the core instead of 2 separate files -->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Alertify/alertify.js-0.3.11/themes/alertify.default.css">

<!-- JIT -->
<link type="text/css" href="{{STATIC_URL}}Jit/My_Jit/base.css" rel="stylesheet" />
<link type="text/css" href="{{STATIC_URL}}Jit/My_Jit/Spacetree.css" rel="stylesheet" />

<script src="{{STATIC_URL}}deps/Jit/Jit-2.0.1/jit.js"></script>
<script src="{{STATIC_URL}}Jit/My_Jit/Spacetree.js"></script>
<script src="{{STATIC_URL}}Jit/My_Jit/Jit_Models/terrestrial_intactness.json"></script>
<script src="{{STATIC_URL}}Jit/My_Jit/Jit_Models/ecological_values.json"></script>

<!-- Leaflet -->
<!--<script src="{{STATIC_URL}}deps/Leaflet/leaflet-0.7.3/leaflet.js"></script>-->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!-- ESRI Leaflet -->
<script src="{{STATIC_URL}}deps/ESRI_Leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

<!-- Leaflet.draw -->
<script src="{{STATIC_URL}}deps/Leaflet/Leaflet.draw-master/dist/leaflet.draw.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Leaflet/Leaflet.draw-master/dist/leaflet.draw.css" />

<!-- leaflet.grouped-layer-control-->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Leaflet/Leaflet.grouped-layer-control/leaflet.groupedlayercontrol.css" />
<script src="{{STATIC_URL}}deps/Leaflet/Leaflet.grouped-layer-control/leaflet.groupedlayercontrol.js"></script>


<script src='{{STATIC_URL}}deps/Leaflet/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='{{STATIC_URL}}deps/Leaflet/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

<!-- Omnivore -->
<script src='{{STATIC_URL}}deps/Leaflet/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<!-- Geonames -->
<script src="{{STATIC_URL}}deps/Geonames/L.Control.Geonames.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Geonames/L.Control.Geonames.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

<!-- Jquery-->
<script src="{{STATIC_URL}}deps/jquery/jquery-2.1.4.min.js"></script>

<!-- Tabs -->
<script src="{{STATIC_URL}}deps/TabContent/tabcontent.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}deps/TabContent/tabcontent.css" rel="stylesheet" type="text/css" />

<!-- Highcharts -->
<!-- Latest Stable Version v4.1.5 as of 5/6/2015. Latest version at http://code.highcharts.com/highcharts.js -->
<script src="{{STATIC_URL}}deps/Highcharts/highcharts_4.1.5/highcharts.js"></script>
<script src="{{STATIC_URL}}deps/Highcharts/highcharts_more_4.1.0/highcharts-more.js"></script>
<script src="{{STATIC_URL}}deps/Highcharts/highcharts_exporting_4.1.10/exporting.js"></script>

<!-- Messi -->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Messi/messi.css" />
<script src="{{STATIC_URL}}deps/Messi/messi.js"></script>

<!--selectBoxIt (Styled Select Boxes) -->
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}deps/SelectBoxIt/css/jquery.selectBoxIt.css" />
<script src="{{STATIC_URL}}deps/SelectBoxIt/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}deps/SelectBoxIt/js/jquery.selectBoxIt.min.js"></script>

<!-- Slide Out Menu -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}deps/SlidePushMenus/css/default.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}deps/SlidePushMenus/css/component.css" />
<script src="{{STATIC_URL}}deps/SlidePushMenus/js/modernizr.custom.js"></script>

<!--Classie - class helper functions by @desandro https://github.com/desandro/classie -->
<script src="{{STATIC_URL}}deps/SlidePushMenus/js/classie.js"></script>

<!-- intro.js -->
<script src="{{STATIC_URL}}deps/IntroJS/intro.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/IntroJS/introjs.css" />




<!-- My Charts -->
<script src="{{STATIC_URL}}Highcharts/point_chart.js"></script>
<script src="{{STATIC_URL}}Highcharts/box_plot.js"></script>
<script src="{{STATIC_URL}}Highcharts/column_chart.js"></script>
<script src="{{STATIC_URL}}Highcharts/time_series_popup.js"></script>

<script src="{{STATIC_URL}}Highcharts/noaa_3_month_multi_panes.js"></script>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}deps/weather-icons-master/css/weather-icons.min.css">

<!-- My CSS -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">

<!-- My JS -->
<script src="{{STATIC_URL}}js/general_js.js"></script>

<script>
    var static_url="{{STATIC_URL}}"
    showChartOnMapSelect="PointChart"
    var initialize={{initialize}}
    var count="{{count}}"
    var last_poly="{{WKT_SelectedPolys}}"
    columnChartColors="{{columnChartColors}}"
    unitsForChart="metric"
</script>

<style>
    #poppyImage {
        height: 175px;
        position: absolute;
        left: -90px;
        top: -60px;
    }
</style>

</head>

<body onload="acquireNearTermClimate()">


    <!-- Slide Out Menu -->
    <div id="SlideOutMenuDiv">
        <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
            <!-- Links written in general_js.js -->
        </nav>

        <div class="container">
            <div class="main">
                <section>
                    <!-- Class "cbp-spmenu-open" gets applied to menu -->
                    <button id="showTop">&#x25BC Explore More Climate Tools &#x25BC</button>
                </section>
            </div>
        </div>
    </div>

<div id="header">
    <div id="title"><script>document.write(title)</script><span id="title2"> Climate Console</span><br>
      <span id="sub_title"><script>document.write(subTitle)</script></span>
    </div>
    <div style="float:left;z-index:2"><img id="poppyImage" src="{{STATIC_URL}}img/poppy_l.png"></div>
</div>

<span id="DataBasinLinkBox">
    <ul id="mainNav">
        <li> <img id="DataBasinLogo" src="{{STATIC_URL}}img/dataBasinLogo-trans.png"> <ul></li>
            <li><a target="_blank" href="http://drecp.databasin.org/">&nbsp CA Gateway </a></li>
            <li style="border-bottom-left-radius:7px;"><a target="_blank" href="http://drecp.databasin.org/galleries/">&nbsp CA Data</a></li>
        </ul>
    </ul>
</span>

<div id="map_and_charts_container">

    <div id="map"></div>

    <div title="Adjust the opacity of this layer" id='control' class='ui-opacity'>
      <div id='handle' class='handle'></div>
    </div>

    <!-- needs to go below the map and the opacity handle -->
    <script src="{{STATIC_URL}}Leaflet/my_leaflet/leaflet_map.js"></script>

    <div class="loading">
        <img class="loading_image" src='{{STATIC_URL}}img/loader_circular.gif'><br>
        <div class="loading_text">&nbsp Loading...</div>
    </div>

    <div id="initialization_container">
            <div id="initialization_text">
                <h3> Welcome to the <script>document.write(title)</script> Climate Console</h3>
                The climate console is a web application designed for exploring climate change projections within a selected area of interest.
                <h3> Getting Started </h3>
                    <div style="margin-left:10px">
                    1. Select a reporting units layer <img onmouseover='gettingStartedIntro.start()' src="{{STATIC_URL}}img/info.png">.
                    <p>
                    <div style="margin-left:auto;margin-right:auto;text-align:center"><img style="width:160px" src="{{STATIC_URL}}img/layers.png"></div>
                    <p>
                    2. Select a feature or set of features in the map <img onmouseover='gettingStartedIntro.start().goToStep(2)' src="{{STATIC_URL}}img/info.png">.
                    <p>
                        <div style="margin-left:auto;margin-right:auto;text-align:center"><img style="width:200px" src="{{STATIC_URL}}img/map_click2.png"></div>
                    <p>
                    3. Explore results generated for the selected area.
                    <p>
                    <div style="margin-left:auto;margin-right:auto;text-align:center"><img style="width:240px" src="{{STATIC_URL}}img/combo_chart_icon.png"></div>
                    </div>
            </div>
    </div>

    <div id="tab_container">
        <!--data-persist="true" keeps the current tab active on page refresh-->
        <ul class="tabs" data-persist="false">
            <li><a id="view1Link" href="#view1" onclick="activateMapForDefault();">Climate</a></li>
            <li><a href="#view4" onclick="$('#clickToMapInfo').hide(); activateMapForClimateForecast()" >Weather </a></li>
            <!--<li><a href="#view2" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">Selected Features </a></li>-->
            <li><a href="#view5" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">Condition & Impacts</a></li>-->
            <!-- <li><a href="#view2" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">Carbon & Fire</a></li>-->
            <!--<li><a href="#view6" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">About</a></li>-->
            <li><a href="#view3" onclick="$('#clickToMapInfo').hide()"><img src="{{STATIC_URL}}img/info.png"> About</a></li>

        </ul>

        <div class="tabcontents">

            <!--
            <div id="clickToMapInfo" class="clickToMapInfo"><span><span id="infoCircle" class="introjs-helperNumberLayer">i</span><span style="margin-left:19px">Click any Point to Map the Data</span></span><a onclick="this.parentNode.style.visibility='hidden'; document.getElementById('infoCircle').style.visibility='hidden'">
              <span id="close_button"> ✖ </span></a>
            </div>
            -->

            <div id="view1" class="views">

                <div class="select_container_2">
                    <form class="select_form2">
                        <div class="styled-select2" id="ss1">
                            <!-- On change, create the charts, passing in whichever variables the user has selectd in all 3 dropdowns -->
                            <select id="variable_selection_form" onchange='updateData(this.value, document.getElementById("statistic_selection_form").value, document.getElementById("season_selection_form").value)'>
                                <!-- Annual Averages -->
                                <option value="tmax" selected>Maximum Temperature</option>
                                <option value="tmin">Minimum Temperature</option>
                                <option value="prec">Precipitation</option>
                                <option value="arid">Aridity</option>
                                <option value="pet">PET</option>
                            </select>
                        </div>
                        <div class="styled-select2" id="ss2">
                            <select id="statistic_selection_form" onchange='updateData(document.getElementById("variable_selection_form").value, this.value, document.getElementById("season_selection_form").value)'>
                                <!-- Annual Averages -->
                                <option class="avg" value="avg" selected >Average</option>
                                <option class="delta" value="delta">Change</option>
                                <!-- <option class="anom" value="anom">Anomaly</option> -->
                            </select>
                        </div>
                        <div class="styled-select2" id="ss3">
                            <select id="season_selection_form" onchange='updateData(document.getElementById("variable_selection_form").value, document.getElementById("statistic_selection_form").value, this.value); updateQuickViewTable(document.getElementById("season_selection_form").value)'>
                                <!-- Annual Averages -->
                                <option value="s0" selected >Annual</option>
                                <option value="s1">Jan-Feb-Mar</option>
                                <option value="s2">Apr-May-Jun</option>
                                <option value="s3">Jul-Aug-Sep</option>
                                <option value="s4">Oct-Nov-Dec</option>
                            </select>
                        </div>
                        <div id="units_selector">
                            <b>Units:</b>
                            <input checked='checked' onchange="changeUnits('metric')" type="radio" name="units" value="metric"><span id="MetricLabel">&deg;Celsius</span>
                            <input onchange="changeUnits('english')" type="radio" name="units" value="english"><span id="EnglishLabel">&deg;Fahrenheit</span>
                        </div>
                    </form>
                </div>

                <br>

                <script>
                    if (initialize==1){
                        document.getElementById('initialization_container').style.display="block";
                        document.getElementById('tab_container').style.display="none";
                    }
                </script>

                <div id="point_chart"></div>

                <span style="position:relative"><span id="legendTips" style="position:absolute; display:none">legend tips</span></span>

                <div style="display:none" id="point_chart_description"></div>

                <div id="climate_quick_view">

                    <table id="climate_quick_view_table">
                        <tr>
                            <th colspan="2">
                                <!--
                                <span style="font-weight:normal;font-size:1em">A quick look at what the model averages are saying...</span>
                                -->
                                <span style="font-weight:normal;font-size:1em">Projected Change (Model Averages, <span id="seasonLabel">Annual</span>)</span>
                            </th>
                        </tr>

                        <!-- TMAX -->
                        <tr>
                            <td style="max-width:30px;text-align:center">
                                <div class="quick_therm_tmax"><i class="wi wi-thermometer"></i></div>
                            </td>
                            <td>
                                The average maximum temperature in <span id="quick_view_place_name"> the selected area <span> is projected to increase by
                                <p>
                                <b><span id="quick_value_tmax_t1">1.8</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the next 30 years<br>
                                <b><span id="quick_value_tmax_t2">2.9</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the 30 years after that
                                <!--<span class='arrow_dir'><div class='quick_value_range'>(<span id="quick_value_range_tmax_t1">1.5-3.4</span>)</div></span>-->
                            </td>
                        </tr>

                        <!-- TMIN -->
                        <tr>
                            <td style="max-width:30px; text-align:center">
                                <div class="quick_therm_tmin"><i class="wi wi-thermometer"></i></div>
                            </td>
                            <td>
                                The average minimum temperature in <span id="quick_view_place_name"> the selected area <span> is expected to increase by
                                <p>
                                <b><span id="quick_value_tmin_t1">1.8</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the next 30 years<br>
                                <b><span id="quick_value_tmin_t2">2.9</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the 30 years after that
                                <!--<span class='arrow_dir'><div class='quick_value_range'>(<span id="quick_value_range_tmax_t1">1.5-3.4</span>)</div></span>-->
                            </td>
                        </tr>

                        <!-- PRECIP -->
                        <tr>
                            <td>
                                <div class="quick_rain"><i class="wi wi-rain-mix"></i></div>
                            </td>
                            <td>
                                The average precipitation level in <span id="quick_view_place_name"> the selected area <span> is expected to <span id="increase_or_decrease_precip_t1"></span>  by
                                <p>
                                <b><span id="quick_value_precip_t1">1.8</span></b></span><span class="quick_value_precip_units">%</span> over the next 30 years<br>
                                <span id="increase_or_decrease_precip_t2"></span><b><span id="quick_value_precip_t2">2.9</span></b></span><span class="quick_value_precip_units">%</span> over the 30 years after that
                                <!--<span class='arrow_dir'><div class='quick_value_range'>(<span id="quick_value_range_tmax_t1">1.5-3.4</span>)</div></span>-->
                                <p>
                                <span style="font-size:.73em">(Note that precipitation projections vary widely among models)</span>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>


            <!--
            <div id="view2" class="views"></div>
            -->

            <div id="view3" class="views">

                    <h3>Summary:</h3>

                    The Climate Console is a web mapping application designed for exploring climate projections and fuzzy logic (EEMS) model results within a specified area of interest.
                    <p>
                    The zonal mean for several climate projection datasets is calculated for each of the reporting units and stored in a spatial database which can then be queried against using the tools provided on the left hand side of the map or by simply clicking on a feature of interest. This allows the user to examine the future climate predictions and potential for climate change impact within one or more administrative units or ecological boundaries of interest.

                    <p>

                    <h3>Instructions for Use: </h3>

                   <ol>
                        <li>Select a reporting units layer <img onmouseover="$('#view1Link').click(); gettingStartedIntro.start()" src="{{STATIC_URL}}img/info.png"> from the list provided in the upper left hand side of the map. Selecting "<i>User Defined (1km)</i>" will allow you to define an arbitrary area based on a 1km grid.</li>
                        <p>
                        <div style="margin-left:auto;margin-right:auto;text-align:center"><img style="width:160px" src="{{STATIC_URL}}img/layers.png"></div>
                        <p>
                        <li>Select a feature or set of features using the selection tools provided, or simply click on a feature of interest <img onmouseover="$('#view1Link').click(); gettingStartedIntro.start().goToStep(2)" src="{{STATIC_URL}}img/info.png">.</li>
                       <p>
                       <div style="margin-left:auto;margin-right:auto;text-align:center"><img style="width:200px" src="{{STATIC_URL}}img/map_click2.png"></div>
                       <p>
                        <li>The area weighted averages for the climate variables and EEMS model outputs for the selected area will appear in the charts on the right hand side of the screen. You can choose to plot a different climate variable by selecting the variable from the dropdown menu.</li>
                       <p>
                        <div style="margin-left:auto;margin-right:auto;text-align:center"><img style="width:240px" src="{{STATIC_URL}}img/combo_chart_icon.png"></div>
                       <p>
                        <li>Click a data point on the chart to display the corresponding dataset used to generate the plotted value. </li>
                       <!--
                        <li>Click the "variability" link in the point chart description to view box plots of the data.
                        -->

               </ol>

                <!--
                <h3>Interpreting the Box Plots: </h3>
                <br>
                <img style="margin-left:20px" src="{{STATIC_URL}}img/boxPlot.png">
                <div class="footnote">
                <sup>1</sup>The upper quartile (Q3) represents the middle value between the maximum and the median. 75% of the data fall below this line. 25% of the data fall above it.
                <p>
                <sup>2</sup>The lower quartile (Q1) represents the middle value between the minimum and the median. 75% of the data fall above this line. 25% of the data fall below it.
                </div>
                -->

                <h3>Climate: </h3>
                Climate refers to the statistical properties of weather over periods ranging from months to decades or more, and includes average conditions, and the range of variability, as well as the frequency of extreme events.<sup><a href="#refs" title="Source: Pacific Institute for Climate Solutions, 2011">1</a></sup>
                <p>
                Climate is different from weather. A weather forecast refers to a prediction about the specific atmospheric conditions expected for a
                location in the short-term future (hours to days).<sup><a href="#refs" title="Source: National Oceanic and Atmospheric Administration (NOAA), Climate Program Office, Climate Literacy">2</a></sup>
                <p>

                A climate trend is a progressive change in the state of the climate based on weather statistics evaluated over long periods, typically of at least 30 years.<sup><a href="#refs" title="Source: Pacific Institute for Climate Solutions, 2011">1</a></sup>
                <p>
                For information on climate models click on the following link to view a presentation created by the Pacific Institute for Climate Solutions: <a target="_blank" href="http://pics.uvic.ca/insights/module1_lesson4/player.html">http://pics.uvic.ca/insights/module1_lesson4/player.html</a>
                <p>

                The time series climate data used to represent the historical period (1971-2000) were obtained from the LT71m PRISM 30 arc-second spatial climate dataset for the Conterminous United States (Daly et al., 2008). We selected ten of the 34 CMIP5 General Circulation Models (GCMs) that have been shown to reproduce several observed climate metrics and that captured the full range of projected change for both annual average temperature and annual precipitation under the representative concentration pathway 8.5 (RCP8.5; Meinshausen et al., 2011; van Vuuren et al., 2011). We then obtained downscaled time series climate projections for the selected GCMs from the NASA Earth Exchange (NEX) U.S. Downscaled Climate Projections (NEX US-DCP30) dataset (Thrasher et al., 2013) for the entire spatial extent of the study area and for the period 2016-2075 time. The multi-model ensemble mean of the four downscaled climate models was calculated for each of the climate variables.

                <h3>Weather Forecast: </h3>

                The near-term weather forecast data presented in the climate console streams directly from the following forecast distribution files generated by NOAA's <a target="_blank" href="http://www.cpc.ncep.noaa.gov/"> Climate Prediction Center</a>:
                <p>
                <a target="_blank" href="http://www.cpc.ncep.noaa.gov/pacdir/NFORdir/HUGEdir2/cpcllftd.dat">Temperature</a><br>
                <a target="_blank" href="http://www.cpc.ncep.noaa.gov/pacdir/NFORdir/HUGEdir2/cpcllfpd.dat">Precipitation</a><br>
                <p>
                The data in these files represent <a target="_blank" href="http://www.cpc.ncep.noaa.gov/pacdir/NFORdir/INTR.html">probability of exceedance</a> values.
                The field headers (98, 95, 90 ,80, 70, 60, 50, 40, 30, 20, 10, 5, 2) indicate the probability that the actual temperature or precipitation level during the three month period expressed by the LEAD time will be greater than the stated value within the specified climate division (CD).
                Click <a target="_blank" href="http://www.cpc.ncep.noaa.gov/pacdir/NFORdir/HUGEdir2/explanation_fdf.html">here</a> for complete field descriptions and additional information on the forecast distribution files above.
                <p>
                The historical means and forecast means displayed in the climate console come directly from the values in the climatological mean field (C MEAN) and the forecast mean field (F MEAN). These values correspond to a 50% probability of exceedance.
                These data are automatically updated on the third Thursday of each month.

                <div id="sources">
                Reference: Barnston et al., 2000, Bull. Amer. Meteor. Soc. 81:1271-1279<br>
                Source: <a href="http://www.cpc.ncep.noaa.gov/" target="_blank">http://www.cpc.ncep.noaa.gov/</a><br>
                </div>


                <h3>Terrestrial Intactness:</h3>
                Terrestrial intactness is an estimate of current condition based on the extent to which human impacts such as agriculture, urban development, natural resource extraction, and invasive species have disrupted the landscape across the DRECP study area. Terrestrial intactness values will be high in areas where these impacts are low.
                <p>

                This dataset provides an estimate of current terrestrial intactness, based on an EEMS fuzzy logic model that integrates multiple measures of landscape development and vegetation intactness.
                <p>

                This model integrates agriculture development (from LANDFIRE EVT v1.1), urban development (from LANDFIRE EVT v1.1 and NLCD Impervious Surfaces), linear development (from Tiger 2012 Roads, utility lines, and pipelines), OHV recreation areas, energy and mining development (from state mine and USGS national mines datasets as well as geothermal wells, oil/gas wells, wind turbines, and power plant footprints), vegetation departure (from LANDFIRE VDEP),  invasive vegetation (multiple sources combined for invasives analyses), and measures of natural vegetation fragmentation calculated using FRAGSTATS. In this version, Maxent modeled Sahara Mustard was included in the Invasive's branch as well as in the Fragstats model run.
                <p>

                Caution is warranted in interpreting this dataset because it provides a single estimate of terrestrial intactness based on available data. The degree of terrestrial intactness likely varies for a particular species or conservation element, and may depend on additional factors or thresholds not included in this model. Instead, this model should be taken as a general measure of intactness that can serve as a template for evaluating across many species at the ecoregion scale, and provides a framework within which species-specific parameters can be incorporated for more detailed analyses.

                <p>
                <a href="http://databasin.org/datasets/958719f2359e40b99ca683d1a473ba8d" target="_blank">View or Download this dataset on Data Basin</a>

                <h3> Site Sensitivity</h3>
                The Site Sensitivity Model evaluates the study area for factors that make the landscape sensitive to climate change. These factors fall into two main branches of the model: soil sensitivity and water retention potential. As a final step in the model, we defined barren areas as having the lowest possible sensitivity since many of these areas will not be further degraded by climate change.
                <p>
                <a href="http://databasin.org/datasets/7478dab889544d66a3e0fe3d7644f1ad" target="_blank">View or Download this dataset on Data Basin</a>

                <h3> Climate Exposure</h3>
                The Climate Exposure Model is based on aridity and climate. Climate factors include maximum temperature, minimum temperature, and precipitation on a seasonal basis and an annual basis. Change was calculated for two future time periods, 2016-2045 and 2046-2075, compared to the historical period, 1971-2000. Projections for three climate futures were used along with the ensemble mean values from those models. Temperature and precipitation differences were normalized using the standard deviation over the historical period via the following formula:
                <br>
                <div style="width:100%; text-align:center; margin-left:auto; margin-right:auto"> <img style="width:150px;" src="{{STATIC_URL}}img/ce_equation.png"></div>
                <br>
                <br>

                where d is the difference, x<sub>f</sub> is the mean of the variable in the future period, x<sub>h</sub> is the mean of the variable in the historical period, and σ<sub>x<sub>h</sub></sub> is standard deviation of the variable in the historical period. Change in aridity was calculated as the percent change from the historical period. Projected future change is very high for temperatures and aridity. In order to capture both the differences across the region as well as the severity of change, nonlinear conversions were used to convert input data into fuzzy space:

                <img src="{{STATIC_URL}}img/climate_chart1.png"><img src="{{STATIC_URL}}img/climate_chart2.png">

                <div class="footnote" style="margin-left:40px">Original value to fuzzy value conversion curves for a) climate variables and b) aridity.</div>
                <br>
                <p>
                <a href="http://databasin.org/datasets/c55b0a726487406bba0e17f4fe1b2cbb" target="_blank">View or Download this dataset on Data Basin (2016-2045)</a> <br>
                <a href="http://databasin.org/datasets/d0e9905271294cd293160cff7115ce8f" target="_blank">View or Download this dataset on Data Basin (2046-2075)</a>

                <h3> Potential Climate Impact</h3>
                EEMS model of potential climate impacts generated using data from STATSGO soils data and climate model results. Results from the Site Sensitivity and Climate Exposure models contribute equally to the results of the Potential Climate Impact model. As with the Climate Exposure Model, the Climate Impacts Model was run for each climate future (full results available on Data Basin). The results from the run with ensemble climate data are used in the Climate Console.
                <p>
                <a href="http://databasin.org/datasets/238aad251e784e4386620a4c51ef272a" target="_blank">View or Download this dataset on Data Basin (2016-2045)</a> <br>
                <a href="http://databasin.org/datasets/022ab9e3565a4b11a08b94a3f69695b5" target="_blank">View or Download this dataset on Data Basin (2046-2075)</a>
                <p>

                <a name="refs"></a>
                <h3>Sources:</h3>
                <sup>1</sup><a href="http://pics.uvic.ca/"> Pacific Institute for Climate Solutions</a>
                <p>
                <sup>2</sup><a href="http://cpo.noaa.gov/OutreachandEducation/ClimateLiteracy.aspx"> National Oceanic and Atmospheric Administration (NOAA), Climate Program Office, Climate Literacy</a>
                <p>
                <div style="height:800px"></div>

            </div>

            <div id="view4" class="views">
                <div class="nearTermClimateFormDiv">

                    <div class="nearTermHeader">Three Month Forecast in Climate Division <span id="climateDivision"></span></div>

                    <!-- Start and Stop Buttons -->
                    <a href="#" id="start" title="Click to automatically cycle through the time steps"><button id="startDiv"></button></a>
                    <a href="#" id="stop" title="Click to stop"><button id="stopDiv"></button></a>

                    <br>

                    <!-- Radio buttons generated dynamically based on dates in the text file -->
                    <form class="nearTermClimateForm" > </form>

                    <!--Thermometer-->
                    <div style="float:left; position:relative; z-index:9999; width:20%; height:200px; vertical-align:top">
                        <div class="thermometer">
                            <span style="position:relative; top:4px; left:-11px; font-size:11px;color:#444444"><b>&ndash;</b> Historical Mean <b>&ndash;</b></span>
                            <span id="thermometerAfter"></span>
                        </div>
                    </div>

                    <!--Rain Gauge -->
                    <div style="float:left; position:relative; z-index:9999; width:20%; height:200px; vertical-align:top">
                        <div class="rainGauge">
                            <div class="triangleTop"></div>
                            <span id="rainGaugeAfter"></span>
                        </div>
                    </div>

                </div>

                <!-- Table 2: Change values & "Show on Map Radio Buttons" Table -->
                <form id="nearTermMapForm">
                    <div id="nearTermClimateWrapper" style="clear:both">
                        <table class="dynamicNearTermClimateTable" id="nearTermChangeTable">
                            <!-- The Show on Map Row needs to persist after after a feature click. Initialize, then save and append on click -->
                            <tr id="mapRadioRow" style="border-top:none"><td>Show on Map</td><td><input name='nearTermMapVariable' value='temp' type='radio' checked></td><td><input name='nearTermMapVariable' value='precip' type='radio'></td></tr>
                        </table>
                    </div>
                    <!-- Table 3: Details (Historical Mean, Forecast Mean, 90% Confidence Interval)-->
                    <div id="nearTermClimateWrapper2" style="clear:both"></div>
                </form>

                <script>

                    $(".nearTermClimateForm").change(function(){
                        //On Time Frame Change
                        selectedNearTermClimatePeriod=this.period.value
                        //Update Table
                        generateNearTermClimateResults(selectedNearTermClimatePeriod,selectedClimateDivision)
                        //Update Map
                        updateClimateDivisionSymbology()
                        createVerticalMonthLine(selectedNearTermClimatePeriod-1)
                        elements = document.getElementsByClassName('radio-button-span');
                        for (var i = 0; i < elements.length; i++) {
                            elements[i].style.backgroundColor="";
                        }
                        $("#radio-button-span"+(selectedNearTermClimatePeriod-1)).css({'background-color':'#D8E8CC'})
                    });

                    $("#nearTermMapForm").change(function(){
                        //Update Map
                        updateClimateDivisionSymbology()
                        updateNearTermForecastLegend()
                    });

                </script>

                <div id="noaa_3_month"></div>

                <br>
                <br>

            </div>

            <div id="view5" class="views">
                <div class="nearTermHeader" id="fuzzLogicNearTermHeader">Fuzzy Logic Model Results</span></div>
                <div id="column_chart"></div>
                <div id="container">
                    <div id="log">
                        <span id="infoCircle" style="position:absolute;top:0px; left:8px" class="introjs-helperNumberLayer">i</span>
                        <div id="initialTreeInfo">
                            <span style="margin-left:19px">Click on any column above to explore the model diagram<img src="{{STATIC_URL}}img/model_diagram.png" id="modelDiagramIcon"></span>
                        </div>
                    </div>

                <div id="infovis"></div>

                <div id="right-container" style="visibility:hidden">
                     <input type="radio" id="s-normal" name="selection" checked="checked" value="normal" />
                </div>

                </div>

            </div>

            <div id="view6">
                <div class="nearTermHeader" style="line-height:30px;">The State of California: <div style="font-size:.9em">Diversity, Change, and Adaptation</div></div>
            </div>

        </div>

    </div>

</div>

<div id="footer" class="no-print">
    <img src="{{STATIC_URL}}img/CBI_logo_sm.png"><span style="position:relative; bottom:6px"> &copy; 2015 <a href="http://consbio.org" target="_new">Conservation Biology Institute</a> | <a href="mailto:info@consbio.org">info@consbio.org</a></span>
</div>
<script>
    $(function() {
      //Calls the selectBoxIt method on your HTML select box.
      $("select").selectBoxIt();
    });

    $("select").selectBoxIt({
    // Sets default text to appear for the drop down
        aggressiveChange: true
    });

</script>

<!-- div for the mouseover legend items text -->
<div id="pop-up">
</div>

</body>
</html>