<html>
<head>
<title></title>
<link rel="shortcut icon" href="{{STATIC_URL}}img/sun.ico">

<script> var static_url="{{STATIC_URL}}" </script>

<!-- Configuration File -->
<script src="{{STATIC_URL}}config/{{config_file}}"></script>

<!-- A Dictionary containing Image Overlay Name to Data Basin ID Lookup for the Data Basin link-->
<script src="{{STATIC_URL}}Leaflet/my_leaflet/data_basin_id_dictionary.js"></script>

<!-- Alertify -->
<script src="{{STATIC_URL}}deps/Alertify/alertify.js-0.3.11/src/alertify.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Alertify/alertify.js-0.3.11/themes/alertify.core.css">
<!-- include a theme, can be included into the core instead of 2 separate files -->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Alertify/alertify.js-0.3.11/themes/alertify.default.css">

<!-- JIT -->
<link type="text/css" href="{{STATIC_URL}}Jit/My_Jit/base.css" rel="stylesheet" />
<link type="text/css" href="{{STATIC_URL}}Jit/My_Jit/Spacetree.css" rel="stylesheet" />

<script src="{{STATIC_URL}}deps/Jit/Jit-2.0.1/jit.js"></script>
<script src="{{STATIC_URL}}Jit/My_Jit/Spacetree.js"></script>
<script src="{{STATIC_URL}}Jit/My_Jit/Jit_Models/terrestrial_intactness.json"></script>
<script src="{{STATIC_URL}}Jit/My_Jit/Jit_Models/ecological_values.json"></script>

<!-- Leaflet -->
<!--<script src="{{STATIC_URL}}deps/Leaflet/leaflet-0.7.3/leaflet.js"></script>-->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!-- ESRI Leaflet -->
<script src="{{STATIC_URL}}deps/ESRI_Leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

<!-- Leaflet.draw -->
<script src="{{STATIC_URL}}deps/Leaflet/Leaflet.draw-master/dist/leaflet.draw.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Leaflet/Leaflet.draw-master/dist/leaflet.draw.css" />

<!-- Leaflet Mask -->
<script src="{{STATIC_URL}}deps/Leaflet_Mask/L.Mask.js"></script>

<!-- leaflet.grouped-layer-control-->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Leaflet/Leaflet.grouped-layer-control/leaflet.groupedlayercontrol.css" />
<script src="{{STATIC_URL}}deps/Leaflet/Leaflet.grouped-layer-control/leaflet.groupedlayercontrol.js"></script>


<script src='{{STATIC_URL}}deps/Leaflet/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='{{STATIC_URL}}deps/Leaflet/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

<!-- Omnivore -->
<script src='{{STATIC_URL}}deps/Leaflet/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<!-- Geonames -->
<script src="{{STATIC_URL}}deps/Geonames/L.Control.Geonames.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/Geonames/L.Control.Geonames.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

<!-- Jquery-->
<script src="{{STATIC_URL}}deps/jquery/jquery-2.1.4.min.js"></script>

<!-- Table Sorter -->
<script type="text/javascript" src="{{STATIC_URL}}deps/TableSorter/jquery.tablesorter.js"></script>

<!-- Table Filterer -->
<script type="text/javascript" src="{{STATIC_URL}}deps/TableFilter/tablefilter.js"></script>

<!-- Tabs -->
<script src="{{STATIC_URL}}deps/TabContent/tabcontent.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}deps/TabContent/tabcontent.css" rel="stylesheet" type="text/css" />

<!-- Highcharts -->
<!-- Latest Stable Version v4.1.5 as of 5/6/2015. Latest version at http://code.highcharts.com/highcharts.js -->
<script src="{{STATIC_URL}}deps/Highcharts/highcharts_4.1.5/highcharts.js"></script>
<script src="{{STATIC_URL}}deps/Highcharts/highcharts_more_4.1.0/highcharts-more.js"></script>
<script src="{{STATIC_URL}}deps/Highcharts/highcharts_exporting_4.1.10/exporting.js"></script>

<!-- Messi -->
<link rel="stylesheet" href="{{STATIC_URL}}deps/Messi/messi.css" />
<script src="{{STATIC_URL}}deps/Messi/messi.js"></script>

<!--selectBoxIt (Styled Select Boxes) -->
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}deps/SelectBoxIt/css/jquery.selectBoxIt.css" />
<script src="{{STATIC_URL}}deps/SelectBoxIt/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}deps/SelectBoxIt/js/jquery.selectBoxIt.min.js"></script>

<!-- Slide Out Menu -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}deps/SlidePushMenus/css/default.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}deps/SlidePushMenus/css/component.css" />
<script src="{{STATIC_URL}}deps/SlidePushMenus/js/modernizr.custom.js"></script>

<!--Classie - class helper functions by @desandro https://github.com/desandro/classie -->
<script src="{{STATIC_URL}}deps/SlidePushMenus/js/classie.js"></script>

<!-- intro.js -->
<!--
<script src="{{STATIC_URL}}deps/IntroJS/intro.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}deps/IntroJS/introjs.css" />
-->

<!-- My Charts -->
<script src="{{STATIC_URL}}Highcharts/point_chart.js"></script>
<script src="{{STATIC_URL}}Highcharts/histogram.js"></script>

<!--
<script src="{{STATIC_URL}}Highcharts/noaa_3_month_multi_panes.js"></script>
-->

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}deps/weather-icons-master/css/weather-icons.min.css">

<!-- My CSS -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/dashboard.css">

<!-- My JS -->
<script src="{{STATIC_URL}}js/general_js.js"></script>

<script>
    var static_url="{{STATIC_URL}}"
    showChartOnMapSelect="PointChart"
    var initialize={{initialize}}
    var count="{{count}}"
    var last_poly="{{WKT_SelectedPolys}}"
    columnChartColors="{{columnChartColors}}"
    unitsForChart="metric"
</script>

<style>
    #header {
        background: #ECECE9;
        background: #203358;

    }
    #title{
        color:#CFBC9A;
        letter-spacing:5px;
    }
    #title2{
        color:#444444;
        color:white;
    }
    #sub_title{
        color: #CFBC9A;
    }
    #left_image {
        margin-left:0px;
        position: absolute;
        left:-40px;
    }
    #right_image {
        height:117px;
        margin-right:0px;
        position: absolute;
        top:-2px;
        right:-40px;
    }
    .select_form2{
        margin-top: 12px !important
    }

</style>

</head>

<body>

    <!-- Slide Out Menu -->
    <div id="SlideOutMenuDiv">
        <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
            <!-- Links written in general_js.js -->
        </nav>

        <div class="container">
            <div class="main">
                <section>
                    <!-- Class "cbp-spmenu-open" gets applied to menu -->
                    <button id="showTop">&#x25BC Explore More Climate Tools &#x25BC</button>
                </section>
            </div>
        </div>
    </div>

<div id="header">
    <div id="title"><script>document.write(title)</script> <span id="title2">Climate Dashboard</span><br>
      <span id="sub_title"><script>document.write(subTitle)</script></span>
    </div>
    <div style="float:left;z-index:2"><img id="left_image" src="{{STATIC_URL}}img/hood.png"></div>
    <div style="float:right;z-index:2"><img id="right_image" src="{{STATIC_URL}}img/basin.png"></div>
</div>

<span id="DataBasinLinkBox">
    <ul id="mainNav">
        <li> <a href="http://databasin.org"><img id="DataBasinLogo" src="{{STATIC_URL}}img/dataBasinLogo-trans.png" target="_blank"></a><ul></li>
          <!--
            <li><a target="_blank" href="http://drecp.databasin.org/">&nbsp MultiLCC Gateway </a></li>
            <li style="border-bottom-left-radius:7px;"><a target="_blank" href="http://drecp.databasin.org/galleries/">&nbsp MultiLCC Data</a></li>
           -->
        </ul>
    </ul>
</span>

<div id="map_and_charts_container">

    <div id="map"></div>
    <script>
        $("div.leaflet-top:nth-child(1)").hide()
    </script>
    <span id="showTop"></span>

    <div title="Adjust the opacity of this layer" id='control' class='ui-opacity'>
      <div id='handle' class='handle'></div>
    </div>

    <!-- needs to go below the map and the opacity handle -->
    <script src="{{STATIC_URL}}Leaflet/my_leaflet/leaflet_map.js"></script>

    <div class="loading">
        <img class="loading_image" src='{{STATIC_URL}}img/loader_circular.gif'><br>
        <div class="loading_text">&nbsp Loading...</div>
    </div>

    <div id="initialization_container">
            <div id="initialization_text">
                <!--<h3> Welcome to the <script>document.write(title)</script> Climate Dashboard</h3>-->
                <h3> Welcome to the Climate Dashboard</h3>
                Protected Lands are the cornerstone around which local, regional and landscape conservation strategies are developed. These lands are designated to preserve functioning natural ecosystems and act as refuges for species.  Additionally, protected lands provide public access to recreation and preservation of natural historic sites. In the face of a changing climate, how will these lands be impacted?
                <p>
                The Landscape Climate Dashboard allows you to explore future climate projections and soil site sensitivity for federally held protected lands across the California, Pacific Northwest, Great Basin and Great Northern Landscape Conservation Cooperative (LCC) boundaries.
                <br>
                <h3> Getting Started: </h3>
                    <div class="intro_steps">
                        <table id="multiLCCIntroStepsTable">
                            <tr>
                                <td>
                                    Click on an LCC &nbsp; &nbsp; &nbsp; boundary of interest
                                    <br>
                                    <br>
                                </td>
                                <td></td>
                                <td>
                                    Use the drawing tools to define an area of interest
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img style="width:150px" src="{{STATIC_URL}}img/map_click2.png">
                                </td>
                                <td><h3>OR</h3></td>
                                <td>
                                    <img style="width:155px" src="{{STATIC_URL}}img/map_select.png">
                                </td>
                            </tr>
                        </table>
                    </div>
                <br>
                This will select all the federally and tribally protected areas within your selected geography. You can now begin to visualize and sort individual protected areas by change in temperature and precipitation.

            </div>
    </div>

    <div id="tab_container">



        <div class="tabcontents">

            <!--
            <div id="clickToMapInfo" class="clickToMapInfo"><span><span id="infoCircle" class="introjs-helperNumberLayer">i</span><span style="margin-left:19px">Click any Point to Map the Data</span></span><a onclick="this.parentNode.style.visibility='hidden'; document.getElementById('infoCircle').style.visibility='hidden'">
              <span id="close_button"> ✖ </span></a>
            </div>
            -->

            <!--
            <div id="view2" class="views"></div>
            -->
            <div id=view1>
                <div id="detailedView" style="display:none" class="views">

                    <!-- Good idea but problematic when dropdowns are changed. Text is no longer applicable -->
                    <!-- <img title="Click for help" class="tab_help" src="{{STATIC_URL}}img/help.png" onclick="updateClimateHelpContent(); gettingStartedIntro2.goToStep(3).start()">-->

                        <div class="selectedFeaturesListHeader">
                            <!-- Detailed Report: -->
                            <span id="selectedFeaturesShortList"></span>
                            <span id="additionalFeaturesCount"></span>
                        </div>
                        <span  id="closeSelectedFeaturesFullList"><a id="closeSelectedFeaturesFullListLink">x</a></span>
                        <div id="selectedFeaturesFullList" class="selectedFeaturesClass"></div>

                    <!--data-persist="true" keeps the current tab active on page refresh-->
                    <ul class="tabs" id="tabs" data-persist="false">
                        <!--<li><a href="#view4" onclick="$('#clickToMapInfo').hide(); activateMapForClimateForecast()" >Weather </a></li>-->
                        <li><a id="view98Link" href="#view98">Climate</a></li>
                        <li><a id="view99Link" href="#view99">Soils</a></li>
                        <li><a id="view100Link" href="#view100"><img style="position:relative; top:4px; left:3px;" src="{{STATIC_URL}}img/info2.png"> About</a></li>
                        <!--<li><a href="#view2" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">Selected Features </a></li>-->
                        <!-- <li><a href="#view5" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">Condition & Impacts</a></li>-->
                        <!-- <li><a href="#view2" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">Carbon & Fire</a></li>-->
                        <!--<li><a href="#view6" onclick="$('#clickToMapInfo').hide();activateMapForDefault();">About</a></li>-->

                    </ul>

                    <div id="view98">
                        <div id="climate_quick_view">

                            <table class="tabTable" id="climate_quick_view_table">
                                <tr>
                                    <th colspan="2">
                                        <!--
                                        <span style="font-weight:normal;font-size:1em">A quick look at what the model averages are saying...</span>
                                        -->
                                        <span>Projected Change (Model Averages, <span id="seasonLabel">Annual</span>)</span>
                                    </th>
                                </tr>

                                <!-- TMAX -->
                                <tr>
                                    <td style="max-width:30px;text-align:center">
                                        <div class="quick_therm_tmax"><i class="wi wi-thermometer"></i></div>
                                    </td>
                                    <td>
                                        The average max temperature in <span id="quick_view_place_name"> the selected area <span> is projected to exceed the historical average by
                                    <p>
                                        <b><span id="quick_value_tmax_t1">1.8</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the next 30 years<br>
                                    <b><span id="quick_value_tmax_t2">2.9</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the 30 years after that
                                        <!--<span class='arrow_dir'><div class='quick_value_range'>(<span id="quick_value_range_tmax_t1">1.5-3.4</span>)</div></span>-->
                                    </td>
                                </tr>

                                <!-- TMIN -->
                                <tr>
                                    <td style="max-width:30px; text-align:center">
                                        <div class="quick_therm_tmin"><i class="wi wi-thermometer"></i></div>
                                    </td>
                                    <td>
                                        The average min temperature in <span id="quick_view_place_name"> the selected area <span> is projected to exceed the historical average by
                                    <p>
                                        <b><span id="quick_value_tmin_t1">1.8</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the next 30 years<br>
                                    <b><span id="quick_value_tmin_t2">2.9</span></b></span>&deg;<span class="quick_value_temp_units">C</span> over the 30 years after that
                                        <!--<span class='arrow_dir'><div class='quick_value_range'>(<span id="quick_value_range_tmax_t1">1.5-3.4</span>)</div></span>-->
                                    </td>
                                </tr>

                                <!-- PRECIP -->
                                <tr>
                                    <td>
                                        <div class="quick_rain"><i class="wi wi-rain-mix"></i></div>
                                    </td>
                                    <td>
                                        The average precipitation in <span id="quick_view_place_name"> the selected area <span> is projected to <span id="increase_or_decrease_precip_t1"></span> the historical average by
                                    <p>
                                        <b><span id="quick_value_precip_t1">1.8</span></b></span><span class="quick_value_precip_units">%</span> over the next 30 years<br>
                                    <span id="increase_or_decrease_precip_t2"></span><b><span id="quick_value_precip_t2">2.9</span></b></span><span class="quick_value_precip_units">%</span> over the 30 years after that
                                        <!--<span class='arrow_dir'><div class='quick_value_range'>(<span id="quick_value_range_tmax_t1">1.5-3.4</span>)</div></span>-->
                                        <p>
                                            <span style="font-size:.73em">(Note that precipitation projections vary widely among models)</span>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <br>

                    <div id="all_point_chart_goodies">

                        <div class="select_container_2">
                            <form class="select_form2">
                                <div class="styled-select2" id="ss1">
                                    <!-- On change, create the charts, passing in whichever variables the user has selectd in all 3 dropdowns -->
                                    <select id="variable_selection_form" onchange='updateData(this.value, document.getElementById("statistic_selection_form").value, document.getElementById("season_selection_form").value)'>
                                        <!-- Annual Averages -->
                                        <option value="tmax" selected>Maximum Temperature</option>
                                        <option value="tmin">Minimum Temperature</option>
                                        <option value="prec">Precipitation</option>
                                        <!--
                                        <option value="arid">Aridity</option>
                                        <option value="pet">PET</option>
                                        -->
                                    </select>
                                </div>
                                <div class="styled-select2" id="ss2">
                                    <select id="statistic_selection_form" onchange='updateData(document.getElementById("variable_selection_form").value, this.value, document.getElementById("season_selection_form").value)'>
                                        <!-- Annual Averages -->
                                        <option class="avg" value="avg">Average</option>
                                        <option class="delta" value="delta" selected>Change</option>
                                        <!-- <option class="anom" value="anom">Anomaly</option> -->
                                    </select>
                                </div>
                                <div class="styled-select2" id="ss3">
                                    <select id="season_selection_form" onchange='updateData(document.getElementById("variable_selection_form").value, document.getElementById("statistic_selection_form").value, this.value); updateQuickViewTable(document.getElementById("season_selection_form").value)'>
                                        <!-- Annual Averages -->
                                        <option value="s0" selected >Annual</option>
                                        <option value="s1">Jan-Feb-Mar</option>
                                        <option value="s2">Apr-May-Jun</option>
                                        <option value="s3">Jul-Aug-Sep</option>
                                        <option value="s4">Oct-Nov-Dec</option>
                                    </select>
                                </div>
                                <!--
                                <div id="units_selector">
                                    <b>Units:</b>
                                    <input checked='checked' onchange="changeUnits('metric')" type="radio" name="units" value="metric"><span id="MetricLabel">&deg;Celsius</span>
                                    <input onchange="changeUnits('english')" type="radio" name="units" value="english"><span id="EnglishLabel">&deg;Fahrenheit</span>
                                </div>
                                -->
                            </form>
                        </div>

                        <br>

                        <script>
                            if (initialize==1){
                                document.getElementById('initialization_container').style.display="block";
                                document.getElementById('tab_container').style.display="none";
                            }
                        </script>


                        <div id="point_chart"></div>

                        <span style="position:relative"><span id="legendTips" style="position:absolute; display:none">legend tips</span></span>

                        <div style="display:none" id="point_chart_description"></div>

                    </div> <!--all_point_chart_goodies -->

                    <!--
                        <div id="climate_info_link_div"><a href="" id="modelInfoLink" title="Click for information about the climate data" >About the climate data</a></div>
                    -->

                    </div>
                    <div id="view99">

                        <table class="tabTable" >
                            <tr>
                            <th class="tableHeader">Soil Sensitivity</th>
                            </tr>
                        </table>
                        <div id="column_chart"></div>
                    </div>
                    <div id="view100">
                        <div id="AboutSelectedProtectedArea"></div>
                    </div>
                </div>


                <div class="selectedFeaturesListHeader" id="Header1"><span class="changeHeader">Projected Change </span>
                    <img id="info2" title="The values in the table below represent the projected change from the historical period 1971-2000 averaged across the specified protected area and the selected time period. These values are based on the ensemble average of 9 models (CanESM2, CCSM4, HadGEM2-CC, HadGEM2-ES, IPSL-CM5A-MR, NorESM1-M, BCC-CSM1-1-M, MIROC5, CSIRO-Mk3.6.0) under representative concentration pathway 8.5 (RCP8.5). Click on any protected area name to view additional information about that proteced area, including climate projections for individual models and a soil sensitivity profile." src="{{STATIC_URL}}img/info2.png">
                    <br><span class="changeSubheader">(Under RCP 8.5)</span>
                    <div id="timePeriodRadioDiv" style="z-index:99">
                        <input type="radio" onchange="changeTimePeriod(1)" name="time_period_for_table" value="1" checked="checked">2016-2045</input><br>
                        <input type="radio" onchange="changeTimePeriod(2)" name="time_period_for_table" value="2">2045-2075</input>
                    </div>
                    <div id="unitsRadioDiv" style="z-index:99">
                        <input type="radio" onchange="changeUnitsForTable('english')" name="units_for_table" value="english" checked="checked">US</input><br>
                        <input type="radio" onchange="changeUnitsForTable('metric')" name="units_for_table" value="metric">Metric</input>
                    </div>
                    <div id="clickToSort"> Click To Sort
                        <img id="clickToSortArrow" src="{{STATIC_URL}}img/click_to_sort_arrow.png">
                    </div>
                </div>

                <div id="dataTableDiv">
                    <div id="dataTable"></div>
                </div>

            </div>


        </div>
    </div>

</div>

<div id="footer" class="no-print">
    <img src="{{STATIC_URL}}img/CBI_logo_sm.png"><span style="position:relative; bottom:6px"> &copy; 2016 <a href="http://consbio.org" target="_new">Conservation Biology Institute</a> | <a href="mailto:info@consbio.org">info@consbio.org</a></span>
</div>

<script src="{{STATIC_URL}}config/oid_index_multi-lcc.js"></script>

<script>
    $(function() {
      //Calls the selectBoxIt method on your HTML select box.
      $("select").selectBoxIt();
    });

    $("select").selectBoxIt({
    // Sets default text to appear for the drop down
        aggressiveChange: true
    });

    //Load JSON-encoded data from the server using a GET HTTP request.
    query_layer=$.getJSON(static_url + 'Leaflet/myJSON/' + 'Multi_LCC_Protected_Areas_Western_US_for_JSON_5_simplify_GeoJSON.json')

</script>

<script src="{{STATIC_URL}}js/dashboard.js"></script>

<!-- div for the mouseover legend items text -->
<div id="pop-up"></div>
<div id="pop-up2"></div>
<div id="pop-up3"></div>

</body>
</html>